@charset "utf-8";

.header {
	background-color: white; 
	position; 
	relative; 
	width: 1000px; 
	margin: 0 auto;
}

.nav{
	background-color: darkgray; 
	height: 30px; 
	padding-top: 20px;
}

.nav a{
	font-size : 20px; 
	color : white; 
	font-weight: bold; 
	text-decoration : none; 
	font-family : 나눔고딕; 
	margin-left : 30px;
}

.aside_Main {
	background-color: FFFF99; 
	position: fixed; 
	top: 200; 
	right: 0.5%; 
	width: 16%; 
	height: 61%;
}

.aside_Sell {
	background-color: white; 
	position: absolute; 
	top: 0; 
	left: 170; 
	width : 35%; 
	height: 200px;
}

.aside_Introduce {
	background-color: white; 
	position: absolute; 
	top: 0; 
	left: 200; 
	width : 75%; 
	height: 200px;
}

.footer {
	background-color: darkgray; 
	position: relative; 
	width: 1000px; 
	margin: 0 auto;
}

.div_Introduce {
	position: relative; 
	width: 900px; 
	margin: 0 auto;
}

.div_Sell {
	position: relative; 
	width: 900px; 
	margin: 0 auto;
}

.div_for_aside_Main {
	position: relative; 
	width: 1000px; 
	margin: 0 auto;
}

.img_Introduce {
	width: 150px; 
	height: 200px;
}

.img_NextMonth {
	width: 260px; 
	height: 300px;
}
